body {
  background-color: wheat;
}

.App {
  width: 700px;
  margin: 0 auto;
}

.input{
  padding: 1rem;
  font-size: 16px;
  width: 400px;
  border: 0px;
  border-radius: 50px 0 0 50px;
  outline: none;
}

.submit {
  padding: 1rem;
  font-size: 16px;
  border: 0px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

.search {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header {
  font-size: 48px;
  color: tomato;
  text-align: center;
}
.loader {
  color: tomato;
  text-align: center;
  background-color: whitesmoke;
  padding: 10px;
}
.gist-container {
  height: 450px;
  overflow: scroll;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 150px;
}

.gist {
  background-color: whitesmoke;
  margin-bottom: 10px;
  padding: 1rem;
}
.gist:last-child{
  margin-bottom: 0px;
}
.tags {
  margin-top: 15px;
  margin-bottom: 15px;
}
.tag {
  background-color: tomato;
  color: white;
  padding: 10px;
  margin-right: 5px;
  border-radius: 150px;
}
.fork {
  display: flex;
  align-items: center;
}
.pagination {
  text-align: center;
  margin-top: 20px;
}
.prev {
  padding: 1rem;
  font-size: 16px;
  border: 0px;
  border-radius: 50px 0 0 50px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
}
.next {
  padding: 1rem;
  font-size: 16px;
  border: 0px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  margin-left: 5px;
  font-size: 24px;
  font-weight: 400;
}
